# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=postgresql://nestio:nestio123@localhost:5432/nestio

# Instructions to create a Redis store here:
# https://vercel.com/docs/redis
REDIS_URL=redis://localhost:6379

# Get your Serper API Key here for web search: https://serper.dev/
SERPER_API_KEY=*

# NYC Open Data API Token (optional - for higher rate limits): https://data.cityofnewyork.us/profile/app_tokens
NYC_OPEN_DATA_APP_TOKEN=*

OPENAI_API_KEY=*